{% extends "base.html" %} 

{# 
    405 Method Not Allowed:
    This error means the server knows the request method, but it is not supported for the requested resource.
    For example, trying to POST to a URL that only supports GET.
    Common causes: wrong HTTP method used (GET, POST, PUT, DELETE, etc.).
  #}

{% block content %}
<section>
  <div class="container mt-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 fw-bold mb-3">405</h1>
        <p>Ha habido un problema. Lo sentimos. Looks like something went wrong. Would you like to...</p>
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Go Home</a>
        <p class="mt-5">{{error_message}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}