{% extends "base.html" %} 

{# 
    408 Request Timeout:
    This error means the server timed out waiting for the client to complete the request.
    It usually happens when a client takes too long to send a full request.
    Common causes: slow internet, network issues, or the user just walked away mid-request.
  #}

{% block content %}
<section>
  <div class="container mt-5 text-center">
    <div class="row">
      <div class="col-12">
        <h1 class="display-5 fw-bold mb-3">408</h1>
        <p>Vaya, parece que eso no vale. Looks like a bad request. Oops!</p>
        <a href="{{ url_for('home') }}" class="btn btn-primary mt-3">Go Home</a>
        <p class="mt-5">{{error_message}}</p>
      </div>
    </div>
  </div>
</section>
{% endblock %}