{% extends "base.html" %} 
{% set active_page = "admin" %}
{% block content %}

{# 
    CKEditor Summary:
    CKEditor is a rich text editor that replaces plain textareas with a WYSIWYG (What You See Is What You Get) editor.
    It lets users format text (bold, italic, headings, links, etc.) directly in the browser.
    In Flask, ckeditor.load() injects the necessary JavaScript and CSS to make the editor work.
    Used mainly for blog posts, comments, or any content that needs rich formatting.
    #}

{{ ckeditor.load() }}

<section class="px-4 py-5 text-center small-hero bg-image">
    <div class="row">
      <h1 class="display-5 fw-bold mb-3">
        Admin <span class="focus-text">Page!</span>
      </h1>
    </div>
</section>

<section>

</section>
<section>

</section>
<section>

</section>
{% endblock %}
