{% extends "base.html" %} 
{% set active_page = "admin" %}
{% block content %}

{# 
    CKEditor Summary:
    CKEditor is a rich text editor that replaces plain textareas with a WYSIWYG (What You See Is What You Get) editor.
    It lets users format text (bold, italic, headings, links, etc.) directly in the browser.
    In Flask, ckeditor.load() injects the necessary JavaScript and CSS to make the editor work.
    Used mainly for blog posts, comments, or any content that needs rich formatting.
    #}

{{ ckeditor.load() }}

<section class="px-4 py-5 text-center small-hero bg-image">
    <div class="row">
      <h1 class="display-5 fw-bold mb-3">
        Admin <span class="focus-text">Page!</span>
      </h1>
    </div>
</section>

<section>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-6">
          <h2 class="sub-title">Messages</h2>
          <div class="messages-alert">
            <p class="mb-2">You have {{ newMessages }} messages</p>
            <a href="{{ url_for('messages_page') }}" class="btn btn-primary">
              <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                <path fill-rule="evenodd" d="M3 5.983C3 4.888 3.895 4 5 4h14c1.105 0 2 .888 2 1.983v8.923a1.992 1.992 0 0 1-2 1.983h-6.6l-2.867 2.7c-.955.899-2.533.228-2.533-1.08v-1.62H5c-1.105 0-2-.888-2-1.983V5.983Zm5.706 3.809a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Zm2.585.002a1 1 0 1 1 .003 1.414 1 1 0 0 1-.003-1.414Zm5.415-.002a1 1 0 1 0-1.412 1.417 1 1 0 1 0 1.412-1.417Z" clip-rule="evenodd"/>
              </svg> View Messages
            </a>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
    <div class="container mt-5">
      <div class="row">
        <div class="col-12">
          <h2 class="sub-title">Edit Posts</h2>
          <a href="{{ url_for('posts_list') }}" class="btn btn-primary">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
            </svg> Edit Posts
          </a>
        </div>
      </div>
    </div>
</section>

<section>

</section>
<section>

</section>
<section>

</section>
{% endblock %}
