<!-- Footer Template -->
<footer>
    <div class="container">
      <div class="row">
        <h2 class="sub-title">CONNECT</h2>
      </div>
      <div class="row">
        <div class="col-md-8">
          <ul class="footer-socials">
            <li>
              <a
                href="https://www.linkedin.com/in/lidia-morejudo-5358a033/"
                target="_blank"
                >LinkedIn</a
              >
            </li>
            <li>
              <a href="https://github.com/lidiamorejudo" target="_blank"
                >GitHub</a
              >
            </li>
            <li>
              <a
                href="https://www.facebook.com/lidia.morejudosalor/"
                target="_blank"
                >Facebook</a
              >
            </li>
            <li>
              <a href="https://www.instagram.com/lidmoria/" target="_blank"
                >Instagram</a
              >
            </li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="footer-links">
            <li>
              <h3>Email</h3>
              <a href="mailto:lidia@languagestore.co.uk"
                >jaimie.j.hemmings@gmail.com</a
              >
            </li>
            <li>
              <h3>Contact Me</h3>
              <a href="{{ url_for('contact') }}">Contact Form</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
  