<nav class="navbar navbar-expand-lg fixed-top">
  <div class="container">
    <a class="navbar-brand" href="{{ url_for('home') }}">CI/Scoop</a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a
            class="nav-link{{ ' active' if active_page == 'home'}}"
            {{"aria-current=page" if active_page == 'home'}}
            href="{{ url_for('home') }}"
            >Home</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link{{' active' if active_page == 'blog'}}"
            {{"aria-current=page" if active_page == 'blog'}}
            href="{{ url_for('blog') }}"
            >Blog</a
          >
        </li>

        <li class="nav-item">
          <a
            class="nav-link{{' active' if active_page == 'contact'}}"
            {{"aria-current=page" if active_page == 'contact'}}
            href="{{ url_for('contact') }}"
            >Contact</a
          >
        </li>
        <li class="nav-item dropdown">
          <button
            class="nav-link"
            id="navbarDropdown"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <svg
              class="w-6 h-6 text-gray-800 dark:text-white"
              aria-hidden="true"
              xmlns="http://www.w3.org/2000/svg"
              width="24"
              height="24"
              fill="currentColor"
              viewBox="0 0 24 24"
            >
              <path
                fill-rule="evenodd"
                d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                clip-rule="evenodd"
              />
            </svg>
            Profile
          </button>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <!-- Check if active user session and show appropriate Nav Items -->
            {% if session %}
              <li>
                <a
                  class="dropdown-item{{' active' if active_page == 'profile'}}"
                  {{"aria-current=page" if active_page == 'profile'}}
                  href="{{ url_for('profile') }}"
                  >
                    <svg
                    class="w-6 h-6 text-gray-800 dark:text-white"
                    aria-hidden="true"
                    xmlns="http://www.w3.org/2000/svg"
                    width="24"
                    height="24"
                    fill="currentColor"
                    viewBox="0 0 24 24"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M12 4a4 4 0 1 0 0 8 4 4 0 0 0 0-8Zm-2 9a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2v-1a4 4 0 0 0-4-4h-4Z"
                      clip-rule="evenodd"
                    />
                  </svg>Profile
                </a>
              </li>
              <li>
                <a class="dropdown-item" href="{{ url_for('logout') }}">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M5 8a4 4 0 1 1 8 0 4 4 0 0 1-8 0Zm-2 9a4 4 0 0 1 4-4h4a4 4 0 0 1 4 4v1a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2v-1Zm13-6a1 1 0 1 0 0 2h4a1 1 0 1 0 0-2h-4Z" clip-rule="evenodd"/>
                  </svg> Logout
                </a>
              </li>
            {% else %}
              <li>
                <a
                class="dropdown-item{{' active' if active_page == 'login'}}"
                {{"aria-current=page" if active_page == 'login'}}
                  href="{{ url_for('login') }}">
                  Login
                </a>
              </li>
              <li>
                <a
                  class="dropdown-item{{' active' if active_page == 'register'}}"
                  {{"aria-current=page" if active_page == 'register'}}
                  href="{{ url_for('register') }}"
                  >Register
                </a>
              </li>
            {% endif %}
            <!-- Show Admin Nav Items if user is an admin -->
            {% if session['role'] == 'admin' %}
              <li>
                <hr />
              </li>
              <li>
                <a
                  class="dropdown-item{{' active' if active_page == 'admin'}}"
                  {{"aria-current=page" if active_page == 'admin'}}
                  href="{{ url_for('admin') }}">
                  <svg class="w-6 h-6 text-gray-800 dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                    <path fill-rule="evenodd" d="M17 10v1.126c.367.095.714.24 1.032.428l.796-.797 1.415 1.415-.797.796c.188.318.333.665.428 1.032H21v2h-1.126c-.095.367-.24.714-.428 1.032l.797.796-1.415 1.415-.796-.797a3.979 3.979 0 0 1-1.032.428V20h-2v-1.126a3.977 3.977 0 0 1-1.032-.428l-.796.797-1.415-1.415.797-.796A3.975 3.975 0 0 1 12.126 16H11v-2h1.126c.095-.367.24-.714.428-1.032l-.797-.796 1.415-1.415.796.797A3.977 3.977 0 0 1 15 11.126V10h2Zm.406 3.578.016.016c.354.358.574.85.578 1.392v.028a2 2 0 0 1-3.409 1.406l-.01-.012a2 2 0 0 1 2.826-2.83ZM5 8a4 4 0 1 1 7.938.703 7.029 7.029 0 0 0-3.235 3.235A4 4 0 0 1 5 8Zm4.29 5H7a4 4 0 0 0-4 4v1a2 2 0 0 0 2 2h6.101A6.979 6.979 0 0 1 9 15c0-.695.101-1.366.29-2Z" clip-rule="evenodd"/>
                  </svg>
                   Admin
                </a>
              </li>
            {% endif %}
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>