{% extends "base.html" %} 
{% set active_page = "profile" %}
{% block content %}
<!-- Hero Section -->
<section class="px-4 py-5 text-center small-hero bg-image">
  <div class="row">
    <h1 class="display-5 fw-bold mb-3">
      Welcome <span class="focus-text">{{user.username}}!</span>
    </h1>
  </div>
</section>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Profile Information</h2>
        <ul class="profile-info mt-3">
          <li class="mb-3">
            <h3>Username:</h3>
            <p class="mt-1">
              {% if user.username %}
                {{ user.username }}
              {% else %}
                No username found
              {% endif %}
            </p>
          </li>
          <li class="mb-3">
            <h3>Role:</h3>
            <p class="mt-1">
              {% if user.role %}
                {{ user.role}}
              {% else %}
                No role found
              {% endif %}
            </p>
          </li>
          <li class="mb-3">
            <h3>Email:</h3>
            <p class="mt-1">
              {% if user.email %}
                {{ user.email }}
              {% else %}
                Something went wrong
              {% endif %}
            </p>
          </li>
          <li class="mb-3">
            <h3>First Name:</h3>
            <p class="mt-1">
              {% if user.first_name %}
                {{ user.first_name }}
              {% else %}
                No Information Held
              {% endif %}
            </p>
          </li>
          <li class="mb-3">
            <h3>Last Name:</h3>
            <p class="mt-1">
              {% if user.last_name %}
                {{ user.last_name }}
              {% else %}
                No Information Held
              {% endif %}
            </p>
          </li>
        </ul>
        <a href="{{ url_for('edit_profile') }}" class="btn btn-primary mt-3">
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
          </svg>
          Edit Profile
        </a>
      </div>
    </div>
  </div>
</section>
{% endblock %}
